*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 5em;
    letter-spacing: -2px;
    border-bottom: 3px solid whitesmoke;
    text-transform: uppercase;
    color: whitesmoke;
    -webkit-text-stroke: 2px black; /* width and color */
    font-family: sans; color: whitesmoke;
  }

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-size: cover;
}

.madLibsEdit,.madLibsPreview{
    width: 800px;
    margin: 20px 0 0 0;
    background-color: rgba(28, 71, 100, 0.5);
    border-radius: 30px;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2.5;
    user-select: none; 
}
div{
    color: white;
    font-size: 20px;
}
 div input{
    background-color: rgba(28, 71, 100, 0);
    color: white;
    width: 80px;
    height: 40px;
    margin: 0 0 5px 5px;
    border: 2px solid green;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input::placeholder{
    color: rgba(255, 255, 255,0.7);
    font-size: 18px;
}
.madLibsEdit input:focus { 
    outline: none;
    border-color: rgba(255, 255, 255,0.7);
}
input:placeholder-shown {
    border: 2px solid red;
}

@media only screen and (max-width: 1000px) {
    .madLibsEdit,.madLibsPreview{
        width: auto;
    }
    .madLibsEdit,.madLibsPreview{
        font-size: 20px;
    }
    input{
        width: 80px;
        height: 40px;
        margin: 0 0 5px 5px;
    }
  }